.group-bets {
  margin-top:10px;
  padding-left:30px;
  padding-right:30px;
}

.save-highlight {
  background-color:green;
  color:white;
}

.complete-bet-form-plaintext {
  padding-left: 10px;
  font-weight: bold;
}