@font-face {
  font-family: Quacker;
  src: url("./fonts/Quacker.ttf") format('truetype');;
}

.historical-container {
  padding-top: 140px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.historical-winnings-title {
  font-size:65px;
  text-align: center;
  font-family: Quacker;
  padding-bottom:20px;
}