@font-face {
  font-family: Quacker;
  src: url("./fonts/Quacker.ttf") format('truetype');;
}

.new-bet-form-container {
  padding-top:140px;
}

.new-bet-dropdown {
  padding-left:30px;
}

.new-bet-form {
  padding:15px;
}

.personal-bets-title {
  text-align: center;
  font-size: 65px;
  padding-bottom:5px;
  font-family: Quacker;
}

.exchange-rates-container {
  float:right;
  padding-right: 30px;
}

.exchange-rate-label {
  padding-right:20px;
}