@font-face {
  font-family: Quacker;
  src: url("./fonts/Quacker.ttf") format('truetype');;
}

.new-bet-form-container {
  padding-top:140px;
}

.new-bet-dropdown {
  padding-left:30px;
}

.new-bet-form {
  padding:15px;
}

.group-bets-title {
  text-align: center;
  font-family: Quacker;
  font-size: 65px;
  padding-bottom:5px;
}