.overview-bets {
  padding-top:10px;
  padding-bottom:60px;
  padding-left:15px;
  padding-right:15px;
}

.save-highlight {
  background-color:green;
  color:white;
}

.complete-bet-form-plaintext {
  padding-left: 10px;
  font-weight: bold;
}