@font-face {
  font-family: Quacker;
  src: url("./fonts/Quacker.ttf") format('truetype');;
}

.stats-container{
  padding-top: 140px;
  padding-left: 30px;
  padding-right: 30px;
}

.stats-title {
  text-align: center;
  font-size: 65px;
  font-family: Quacker;
}